.form
{
    width:30%;
    height: 85%;
    background-color: #4E35A7;
    padding: 10px;
    position: relative;
    text-align: center;
    display: grid;
    grid-template-rows: [top] 30% [upper] auto [lower] 30% [bottom];
}

.form .form-title
{
    color: white;
    font-family: 'Gotham Light';
    font-size: 27px;
}

.form .form-title .form-main-title 
{
    text-shadow: 5px 5px #351966;
    font-family: 'Gotham Bold';
    font-size: 48px;
}


.form .form-fields
{
    padding-top: 50px;
    display: flex;
    justify-content: center;
}
.form .form-fields input
{
    margin: auto;
    display: block;
    margin-bottom: 15px;
    box-shadow: 5px 5px  #404040;
    height: 35px;
    width: 240px;
    font-family: 'Gotham Light';
    font-size: 16px;
}

.form .form-button{
    display: flex;
    justify-content: center;
    align-items: end;
    padding: 20px;
}




