.register-form
{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.register-form .form-fields
{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register-form .form-fields .form-element
{
    width: 240px;
    margin-top: 15px;
}

.register-form .form-fields .form-error-container
{
    width: 240px;
}

.register-form .form-fields input
{
    box-shadow: 5px 5px  #404040;
    height: 35px;
    font-family: 'Gotham Light';
    font-size: 16px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
}

.register-form .form-fields .error-input
{
    background-color: rgb(255, 200, 200);
    border-color: rgb(199, 48, 48);
}

.register-form .form-button-container{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    padding: 20px;
}

.register-button
{
    font-size: 19px;
    background-color: #20F7C5;
    color: black;
    width: 150px;
    height: 70px;
    border-radius: 40px;
    font-family: 'Gotham Medium';
}

@media screen and (max-width:1150px){

    .register-form .form-fields .form-element
    {
        width: 220px;
    }
}


@media screen and (max-width:950px){

    .register-button
    {
        font-size: 18px;
        width: 140px;
        height: 65px;

    }
    .register-form .form-fields .form-element
    {
        width: 200px;
    }
    .register-form .form-fields input
    {
        height: 33px;
    }
}



@media screen and (max-width:700px){
    .register-form .form-fields .form-element
    {
        width: 170px;
    }
    .register-button
    {
        font-size: 16px;
        width: 130px;
        height: 60px;

    }
    .register-form .form-fields input
    {
        height: 30px;
    }
}

