.insights-page
{
    background: rgb(16,3,43);
    background: linear-gradient(0deg, rgba(16,3,43,1) 0%, rgba(16,3,43,1) 67%, rgba(182,176,207,1) 100%);
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
}

.insights-page .insights-page-content
{
    width: 85%;
    height: 100%;
    display: grid;
    grid-template-rows: 33% 67%;    
    grid-template-columns: 100%;
}

.insights-page  .insights-page-content .header
{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    width: 100%;
    text-align: end;
    margin-left: auto;
    margin-right: 0;
    display:grid;
    grid-template-rows: 40% 60%;    
    grid-template-columns: 10% 40% 10% 40%;

}

.insights-page  .insights-page-content .header .income-expenses-chart
{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
}

.insights-page  .insights-page-content .header .title
{
    padding-right: 3%;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 4;
    grid-column-end: 5;
    text-align: end;
    color: white;
    margin-top: 5%;
}

.insights-page  .insights-page-content .header .title .main-title
{
    font-family: 'Gotham Bold';
    font-size: 80px;
    text-shadow: 5px 5px 3px #180A45;

}

.insights-page  .insights-page-content .insights-page-main-charts
{

    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    display: grid;
    grid-template-rows:  10% 45% 30% 55% 30% 55% 10%;
    grid-template-columns: 5% 40% 10% 40% 5%;
}

.insights-page  .insights-page-content .insights-page-main-charts .insights-page-main-charts-linear-balance-chart .line-chart-title
{
    color: white;
    font-family: 'Gotham Bold';
    font-size: 25px;
    padding-bottom: 1%;
}
.insights-page  .insights-page-content .insights-page-main-charts .insights-page-main-charts-linear-balance-chart
{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 5;
}

.insights-page  .insights-page-content .insights-page-main-charts .insights-page-main-charts-pie-chart
{
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 3;
}

.insights-page  .insights-page-content .insights-page-main-charts .insights-page-main-charts-pie-chart .recharts-wrapper svg{
    overflow: inherit !important;
    }

.insights-page  .insights-page-content .insights-page-main-charts .insights-page-main-charts-pie-chart .pie-chart-title
{
    color: white;
    font-family: 'Gotham Bold';
    font-size: 25px;
    padding-bottom: 10%;
}
    

.insights-page  .insights-page-content .insights-page-main-charts .insights-page-main-charts-income-expenses
{
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 4;
    grid-column-end: 5;
}

.insights-page  .insights-page-content .insights-page-main-charts .insights-page-main-charts-income-expenses .bar-chart-title
{
    color: white;
    font-family: 'Gotham Bold';
    font-size: 25px;
    padding-bottom: 3%;
}

.insights-page  .insights-page-content .insights-page-main-charts .insights-page-main-charts-expenses-distribution
{
    grid-row-start: 6;
    grid-row-end: 7;
    grid-column-start: 2;
    grid-column-end: 3;
}

.insights-page  .insights-page-content .insights-page-main-charts .insights-page-main-charts-expenses-distribution .expenses-chart-title
{
    color: white;
    font-family: 'Gotham Bold';
    font-size: 25px;
    padding-bottom: 3%;
}

.insights-page  .insights-page-content .insights-page-main-charts .insights-page-main-charts-statistics-panel
{
    grid-row-start: 6;
    grid-row-end: 7;
    grid-column-start: 4;
    grid-column-end: 5;
    
}