.statistics-panel
{
    width: 80%;
    height: 110%;
    background-color: white;
    box-shadow: 15px 15px 2px #54498B;
    border-radius: 40px;
    margin: auto;
    display: grid;
    grid-template-rows: 5% 15% 10% 65%;
    grid-template-columns: 5% 90% 5%;
}

.statistics-panel .statistics-panel-title
{
    font-family: 'Gotham Bold';
    font-size: 30px;
    color: black;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    margin-top: auto;
    margin-bottom: auto;
}

.statistics-panel .statistics-panel-category
{
    font-family: 'Gotham Medium';
    font-size: 20px;
    color: black;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
    margin-top: auto;
    margin-bottom: auto;
}

.statistics-panel .statistics-panel-main-content
{
    font-family: 'Gotham Medium';
    font-size: 20px;
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 3;
    margin-top: auto;
    margin-bottom: auto;
    line-height: 150%;
}

.statistics-panel .statistics-panel-main-content .statistics-element
{
    display: grid;
    grid-template-columns: 5% 40% 10% 40% 5%;
    grid-template-rows: 100%;

}

.statistics-panel .statistics-panel-main-content .statistics-element .max-value
{
    color: #EA6900;
    grid-column-start: 2;
    grid-column-end: 3;
}

.statistics-panel .statistics-panel-main-content .statistics-element .q3
{
    color: #FF006F;
    grid-column-start: 2;
    grid-column-end: 3;
}

.statistics-panel .statistics-panel-main-content .statistics-element .mean-value
{
    color: #4B5CA6;
    grid-column-start: 2;
    grid-column-end: 3;
}

.statistics-panel .statistics-panel-main-content .statistics-element  .q1
{
    color: #00E2AD;
    grid-column-start: 2;
    grid-column-end: 3;
}

.statistics-panel .statistics-panel-main-content .statistics-element .min-value
{
    color: #7E0101;
    grid-column-start: 2;
    grid-column-end: 3;
}

.statistics-panel .statistics-panel-main-content .statistics-element .statistics-element-amount
{
    color: #444444;
    grid-column-start: 4;
    grid-column-end: 5;
}

@media screen and (max-width: 1300px)
{
    .statistics-panel
    {
        width: 50%;
        height: 100%;
    }
    .statistics-panel .statistics-panel-title
    {
        font-size: 26px;
    }
    
    .statistics-panel .statistics-panel-category
    {
        font-size: 18px;
    }
    
    .statistics-panel .statistics-panel-main-content
    {
        font-size: 18px;
    }
    
}


@media screen and (max-width: 1050px)
{
    .statistics-panel
    {
        width: 60%;
        height: 100%;
    }
    .statistics-panel .statistics-panel-title
    {
        font-size: 22px;
    }
    
    .statistics-panel .statistics-panel-category
    {
        font-size: 16px;
    }
    
    .statistics-panel .statistics-panel-main-content
    {
        font-size: 16px;
    }
    
}


@media screen and (max-width: 1000px)
{
    .statistics-panel
    {
        width: 50%;
    }
    .statistics-panel .statistics-panel-title
    {
        font-size: 24px;
    }
    
    .statistics-panel .statistics-panel-category
    {
        font-size: 18px;
    }
    
    .statistics-panel .statistics-panel-main-content
    {
        font-size: 18px;
    }
    
}


@media screen and (max-width: 850px)
{
    .statistics-panel
    {
        width: 55%;
    }
    .statistics-panel .statistics-panel-title
    {
        font-size: 20px;
    }
    
    .statistics-panel .statistics-panel-category
    {
        font-size: 14px;
    }
    
    .statistics-panel .statistics-panel-main-content
    {
        font-size: 14px;
    }
    
}



@media screen and (max-width: 750px)
{
    .statistics-panel
    {
        height: 85%;
    }
    .statistics-panel .statistics-panel-title
    {
        font-size: 18px;
    }
    
    .statistics-panel .statistics-panel-category
    {
        font-size: 12px;
    }
    
    .statistics-panel .statistics-panel-main-content
    {
        font-size: 12px;
    }
    
}


@media screen and (max-width: 550px)
{
    .statistics-panel
    {
        height: 65%;
        border-radius: 30px;
    }



    .statistics-panel .statistics-panel-title
    {
        font-size: 14px;
    }
    
    .statistics-panel .statistics-panel-category
    {
        font-size: 10px;
    }
    
    .statistics-panel .statistics-panel-main-content
    {
        font-size: 10px;
    }
    
}


@media screen and (max-width: 450px)
{
    .statistics-panel
    {
        height: 60%;
        width: 60%;
        border-radius: 20px;
    }



    .statistics-panel .statistics-panel-title
    {
        font-size: 12px;
    }
    
    .statistics-panel .statistics-panel-category
    {
        font-size: 8px;
    }
    
    .statistics-panel .statistics-panel-main-content
    {
        font-size: 8px;
    }
    
}