.statistics-panel
{
    width: 80%;
    height: 110%;
    background-color: white;
    box-shadow: 15px 15px 2px #54498B;
    border-radius: 40px;
    margin: auto;
    display: grid;
    grid-template-rows: 5% 15% 10% 65%;
    grid-template-columns: 5% 90% 5%;
}

.statistics-panel .statistics-panel-title
{
    font-family: 'Gotham Bold';
    font-size: 30px;
    color: black;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    margin-top: auto;
    margin-bottom: auto;
}

.statistics-panel .statistics-panel-category
{
    font-family: 'Gotham Medium';
    font-size: 20px;
    color: black;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
    margin-top: auto;
    margin-bottom: auto;
}

.statistics-panel .statistics-panel-main-content
{
    font-family: 'Gotham Medium';
    font-size: 20px;
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 3;
    margin-top: auto;
    margin-bottom: auto;
    line-height: 150%;
}

.statistics-panel .statistics-panel-main-content .statistics-element
{
    display: grid;
    grid-template-columns: 10% 35% 10% 35% 10%;
    grid-template-rows: 100%;

}

.statistics-panel .statistics-panel-main-content .statistics-element .max-value
{
    color: #EA6900;
    grid-column-start: 2;
    grid-column-end: 3;
}

.statistics-panel .statistics-panel-main-content .statistics-element .q3
{
    color: #FF006F;
    grid-column-start: 2;
    grid-column-end: 3;
}

.statistics-panel .statistics-panel-main-content .statistics-element .mean-value
{
    color: #4B5CA6;
    grid-column-start: 2;
    grid-column-end: 3;
}

.statistics-panel .statistics-panel-main-content .statistics-element  .q1
{
    color: #00E2AD;
    grid-column-start: 2;
    grid-column-end: 3;
}

.statistics-panel .statistics-panel-main-content .statistics-element .min-value
{
    color: #7E0101;
    grid-column-start: 2;
    grid-column-end: 3;
}

.statistics-panel .statistics-panel-main-content .statistics-element .statistics-element-amount
{
    color: #444444;
    grid-column-start: 4;
    grid-column-end: 5;
}