.import-csv-check
{
    background-color: white;
    width: 90%;
    height: 85%;
    border: solid 1px black;
    box-shadow: 10px 10px 5px #262626;
    border-radius: 50px;
    padding: 30px;
    display: flex;
    flex-flow: column;
}

.import-csv-check .title
{
    text-align: center;
    font-family: 'Gotham Medium';
    font-size: 30px;
    color: #575757;
    margin-bottom: 30px;
}

.import-csv-check .content-container
{
    width: 95%;
    height: 60%;
    box-shadow: 5px 5px 5px #676370,
    -5px -5px 5px #676370;
    border-radius: 25px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 20px 0px 20px 10px;
    font-family: 'Gotham Medium';
    color: #575757;
}

.import-csv-check .button-container
{
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    align-items: end;
    gap:10%;
}

.import-csv-check .button-container .interaction-button{
    background-color: #20F7C5;
    color: black;
    width: 140px;
    height: 50px;
    border-radius: 40px;
    font-family: 'Gotham Medium';
    font-size: 16px;
    box-shadow: 2px 5px 5px #010446;
    border: none;
}

.import-csv-check .button-container .cancel-button{
    font-size: 16px;
    background-color: #FFDADA;
    color: #CC3C3C;
    width: 140px;
    height: 50px;
    border-radius: 40px;
    font-family: 'Gotham Medium';
    border: 3px solid #CC3C3C;
    box-shadow: 2px 5px 5px #010446;
}


@media screen and (max-width:1300px)
{
    .import-csv-check
    {
        height: 85%;
        width: 90%;
    }
    .import-csv-check .title
    {
        font-size: 26px;
    }
    .import-csv-check .button-container .interaction-button{

        width: 130px;
        height: 45px;
        font-size: 14px;

    }
    
    .import-csv-check .button-container .cancel-button{
        width: 130px;
        height: 45px;
        font-size: 14px;
    }
}

@media screen and (max-width:1200px)
{
    .import-csv-check
    {
        height: 75%;
        width: 90%;
    }
    .import-csv-check .title
    {
        font-size: 26px;
    }
    .import-csv-check .button-container .interaction-button{

        width: 110px;
        height: 40px;
        font-size: 13px;

    }
    
    .import-csv-check .button-container .cancel-button{
        width: 110px;
        height: 40px;
        font-size: 13px;
    }
}


@media screen and (max-width:1050px)
{
    .import-csv-check
    {
        height: 65%;
        width: 90%;
    }
    .import-csv-check .title
    {
        font-size: 24px;
        margin-bottom: 25px;
    }

    .import-csv-check .button-container{
        margin-top: 20px;
    }

    .import-csv-check .button-container .interaction-button{

        width: 90px;
        height: 35px;
        font-size: 12px;

    }
    
    .import-csv-check .button-container .cancel-button{
        width: 90px;
        height: 35px;
        font-size: 12px;
    }

}


@media screen and (max-width:950px)
{
    .import-csv-check
    {
        height: 55%;
        width: 100%;
    }
    .import-csv-check .title
    {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .import-csv-check .button-container{
        margin-top: 20px;
    }

    .import-csv-check .button-container .interaction-button{

        width: 75px;
        height: 30px;
        font-size: 10px;

    }
    
    .import-csv-check .button-container .cancel-button{
        width: 75px;
        height: 30px;
        font-size: 10px;
    }


}

@media screen and (max-width:850px)
{

    .import-csv-check
    {
        height: 50%;
    }
    .import-csv-check .button-container{
        margin-top: 15px;
    }
}

@media screen and (max-width:470px)
{
    .import-csv-check
    {
        height: 45%;
    }
    .import-csv-check .button-container{
        margin-top: 10px;
    }

    .import-csv-check .button-container .interaction-button{

        width: 65px;
        height: 25px;
        font-size: 8px;

    }
    
    .import-csv-check .button-container .cancel-button{
        width: 65px;
        height: 25px;
        font-size: 8px;
    }
}