.import-csv-panel
{
    padding-top: 30px;
    height: 100%;
    width: 60%;
    background-color: white;
    border: solid 1px black;
    box-shadow: 10px 10px 5px #262626;
    border-radius: 50px;
    display: grid;
    grid-template-rows: [top] 5% [upper] 15% [lower] auto [bottom];
}

.import-csv-panel .title
{
    text-align: center;
}

.import-csv-panel  .title .main-title
{
    font-family: 'Gotham Bold';
    font-size: 30px;
    color: #3C3C3C;
}


.import-csv-panel .title .subtitle
{
    font-family: 'Gotham Light';
    font-size: 22px;
}

.import-csv-panel .main-content
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.import-csv-panel form
{
    width: 80%;
}

.import-csv-panel .main-content .bank-select-container
{
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: 50% auto;
    column-gap: 30px;
}
.import-csv-panel .main-content .import-csv-file
{
    display: flex;
}

.import-csv-panel .main-content label{

    font-family: 'Gotham Light';
    font-size: 18px;
    color: #373737;
}

.import-csv-panel .main-content .bank-select-container select
{
    font-family: 'Gotham Medium';
    font-size: 12px;
    display: block;
    overflow: hidden;
    height: 36px;
    float:right;
    
}

.import-csv-panel .main-content  .import-csv-container
{
    display: flex;
    align-items: center;
    font-family: 'Gotham Light';
    display: grid;
    grid-template-columns: 50% auto;
    column-gap: 30px;
    margin-bottom: 60px;
}

.import-csv-panel .main-content .import-csv-container .import-csv-button
{
    align-self: center;
    background-color: #20F7C5;
    border: 1px solid #010446;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    overflow: hidden;
}


.import-csv-panel .main-content .import-csv-container .import-csv-button label
{
    cursor: pointer;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    padding: 5px;
}


.import-csv-panel .main-content span
{
    margin: 10px;
    max-width: 100%;
    overflow: hidden;
}


.import-csv-panel .next-button-container
{
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.import-csv-panel .next-button-container .next-button
{
    font-size: 16px;
    background-color: #20F7C5;
    color: black;
    width: 140px;
    height: 50px;
    border-radius: 40px;
    font-family: 'Gotham Medium';
    border: 1px solid #010446;
    box-shadow: 8px 8px 5px #010446;
}

.import-csv-panel .invalid-bank-message
{
    font-family: 'Gotham Medium';
    font-size: 10pt;
    color: darkgray;
    text-align: center;
}

.import-csv-panel .uploading-message
{
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-family: 'Gotham Medium';
}

.import-csv-panel .close-button-container
{
    padding: 0 8%;
}

@media screen and (max-width:1300px)
{
    .import-csv-panel
    {
        padding-top: 5%;
        height: 95%;
        width: 65%;
    }

    .import-csv-panel .title .main-title
    {
        font-size: 26px;
    }


    .import-csv-panel .title .subtitle
    {
        font-size: 18px;
    }

    .import-csv-panel .next-button-container .next-button
    {
        font-size: 14px;
        width: 120px;
        height: 50px;
    }
}

@media screen and (max-width: 1200px){

    .import-csv-panel
    {
        padding-top: 5%;
        height: 85%;
        width: 67%;
    }

    .import-csv-panel .main-content label
    {
        font-size: 16px
    }

    .import-csv-panel .filename
    {
        font-size: 12px;
    }

    .import-csv-panel .main-content .bank-select-container select
    {
        height: 32px;       
    }
}



@media screen and (max-width:1050px)
{
    .import-csv-panel
    {
        height: 85%;
        width: 70%;
    }
    .import-csv-panel .title 
    {
        padding-top: 15px;
    }
    .import-csv-panel .title .main-title
    {
        font-size: 22px;
    }

    .import-csv-panel .title .subtitle
    {
        font-size: 15px;
    }

    .import-csv-panel .next-button-container .next-button
    {
        font-size: 12px;
        width: 100px;
        height: 45px;
    }

}


@media screen and (max-width:950px)
{
    .import-csv-panel
    {
        height: 90%;
        width: 80%;
    }
    .import-csv-panel .title 
    {
        padding-top: 18px;
    }
    .import-csv-panel .title .main-title
    {
        font-size: 24px;
    }

    .import-csv-panel .title .subtitle
    {
        font-size: 15px;
    }

    .import-csv-panel .next-button-container .next-button
    {
        font-size: 12px;
        width: 100px;
        height: 45px;
    }
}


@media screen and (max-width:850px)
{
    .import-csv-panel
    {
        height: 85%;
        width: 90%;
    }
    .import-csv-panel .title .main-title
    {
        font-size: 22px;
    }

    .import-csv-panel .title .subtitle
    {
        font-size: 14px;
    }
    
    .import-csv-panel .next-button-container .next-button
    {
        font-size: 10px;
        width: 100px;
        height: 40px;
    }

    .import-csv-panel .main-content label
    {
        font-size: 14px
    }

    .import-csv-panel .main-content .bank-select-container select
    {
        height: 28px;       
    }

}


@media screen and (max-width:700px)
{
    .import-csv-panel
    {
        height: 80%;
        width: 195%;

    }
    .import-csv-panel .title .main-title
    {
        font-size: 20px;
    }

    .import-csv-panel .title .subtitle
    {
        font-size: 12px;
    }

    .import-csv-panel .next-button-container .next-button
    {
        font-size: 9px;
        width: 80px;
        height: 35px;
    }
    .import-csv-panel .main-content label
    {
        font-size: 12px
    }
    .import-csv-panel .filename
    {
        font-size: 10px;
    }

    .import-csv-panel .main-content .bank-select-container select
    {
        height: 24px;       
    }

}


@media screen and (max-width:600px)
{
    .import-csv-panel
    {
        width: 100%;
        height: 60%;
    }
    .import-csv-panel .title .main-title
    {
        font-size: 18px;
    }
    .import-csv-panel .title .subtitle
    {
        font-size: 10px;
    }

    .import-csv-panel .main-content
    {
        padding: 15%;
    }

    .import-csv-panel .main-content .bank-select-container
    {
        margin-bottom: 30px;
        grid-template-columns: auto;
    }

    .import-csv-panel .main-content .import-csv-container
    {
        margin-bottom: 30px;
        grid-template-columns: auto;
    }

    .import-csv-panel .main-content label
    {
        display: none;
    }
    
}

@media screen and (max-width:450px)
{
    .import-csv-panel
    {
        height: 50%;
        border-radius: 30px;

    }
    .import-csv-panel .title .main-title
    {
        font-size: 15px;
    }
    .import-csv-panel .title .subtitle
    {
        font-size: 8px;
    }

    .import-csv-panel .next-button-container .next-button
    {
        font-size: 8px;
        width: 65px;
        height: 30px;
        margin-bottom: 40px;
    }

    .import-csv-panel .main-content .bank-select-container
    {
        margin-bottom: 20px;   
    }

    .import-csv-panel .main-content .import-csv-container
    {
        margin-bottom: 20px;
    }

}
