.mode-item
{
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 30% 70% ;
    padding-bottom: 5%;
}

.mode-item .mode-item-icon
{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mode-item .mode-item-icon img
{
    width: 30px;
    height: 30px;
}

.mode-item .mode-item-title
{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    color: #0D071F;
    font-family: 'Gotham Light';
    font-size: 15px ;
    display: flex;
    align-items: center;
}