.navbar {
    background-color: #0D071F;
    width: 15%;
    height: 100%;
    display:grid;
    grid-template-rows: 10% 75% 15%;
    grid-template-columns: 100%;
}

.navbar .title
{
    padding-top: 5%;
}

.navbar .table-of-contents
{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
}

.navbar .table-of-contents .side-pages
{
    line-height: 40px;
}

.navbar .table-of-contents .modes-panel
{
    background-color: #BBB9DD;
    display: grid;
    grid-template-rows: 20% 60% 20%;
    grid-template-columns: 100%;
    padding-left: 5%;

}

.navbar .table-of-contents .modes-panel .modes-panel-title
{
    font-family: 'Gotham Medium';
    font-size: 15px;
    color: #0D071F;
    text-shadow: 1px 1px 1px #54498B;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    align-items: center;
}

.navbar .table-of-contents .modes-panel .your-modes-panel
{
    background-color: white;
    box-shadow: inset 5px 5px 10px #404040;
    width: 90%;
    height: 100%;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-right: 0;
    margin-left: auto;
    overflow-x: hidden;
    overflow-y: auto;
    padding-top: 2%;
    padding-left: 3%;
    margin-bottom: 5%;
}

.navbar .table-of-contents .modes-panel .add-new-mode-button-container
{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    display: flex;
    display: flex;
    align-items: center;
    gap:10%;
    width: 100%;
}
/* .navbar .table-of-contents .modes-panel  .add-new-mode-button {
    border:0;
    outline:0;
    width: 100%;
    background-color: #BBB9DD;
} */
.navbar .table-of-contents .modes-panel  .add-new-mode-button-container .add-new-mode-icon img{
    width: 20px;
    height: 20px;
}

.navbar .table-of-contents .modes-panel .add-new-mode-button-container .add-new-mode-text
{
    font-family: 'Gotham Light';
    font-size: 10px;
    color: #0D071F;

}

.navbar .navbar-footer
{
    margin-bottom: 0;
    margin-top: auto;
    line-height: 50px; 
}