a{
    text-decoration: none;

}
.navbar-item 
{
    display: flex;
    padding-left: 2%;
}

.navbar-item .icon
{
    /* padding-top: auto;
    padding-bottom: auto; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-item .icon img
{
    width: 30px;
    height: 30px; 
    /* margin-top: auto;
    margin-bottom: auto; */
}

.navbar-item .text
{
    color: white;
    padding-left: 5%;
}

