.transaction
{
    width:100%;
    border-bottom: 2px solid black;
    display: flex;
}

.duplicate
{
    background: rgb(255,189,186);
    background: linear-gradient(0deg, rgba(255,189,186,1) 0%, rgba(255,255,255,1) 100%);
}

.waiting-for-approval
{
    background: rgb(178, 255, 236);
    background: linear-gradient(0deg, rgb(146, 255, 204) 0%, rgba(255,255,255,1) 100%);
}

.transaction .transaction-content
{
    width:95%;
    padding: 2%;
    display: grid;
}

.transaction-element
{
    display: flex;
    align-items: center;
    overflow: hidden;
}

.transaction .transaction-content .category
{
    font-family: 'Gotham Medium';
    font-size: 80%;
}

.transaction .transaction-content .amount 
{
    font-family: 'Gotham Medium';
    font-size: 100%;
    justify-content: end;
    gap:1%;
}
.transaction .transaction-content .transactionType
{
    font-family: 'Gotham Light';
    font-size: 80%;
}

.transaction .transaction-content .description
{
    white-space: nowrap;
    font-family: 'Gotham Light';
    font-size: 80%;
}

.transaction .transaction-content .date
{
    font-family: 'Gotham Light';
    font-size: 80%;
}

.transaction .split-it
{
    width: max(25px, 100%);
    justify-content: right;
}

.transaction .split-it img
{
    width: 20px;
    height: 20px;
}

.transaction .transaction-edit-button-container 
{
    display: flex;
    justify-content: right;
    align-items: center;
}
.transaction .transaction-edit-button-container button
{
    border: none;
    background-color: transparent;
}
.transaction .transaction-edit-button-container button img
{
    width: 15px;
    height: 15px;
}

.transaction .transaction-delete-button-container 
{
    display: flex;
    justify-content: right;
    align-items: center;
}
.transaction .transaction-delete-button-container button
{
    border: none;
    background-color: transparent;
}
.transaction .transaction-delete-button-container button img
{
    width: 15px;
    height: 15px;
}

.delete-transaction-checkbox-container
{
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.delete-checkbox-as-rows
{
    width: 50px;
    padding-left: 25px;
}



.delete-transaction-checkbox-container input
{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    margin: auto;
}

.delete-transaction-checkbox-container .checkmark 
{
    position: absolute;
    height: 15px;
    width: 15px;
    background-color: white;
    border-radius: 50%;
    border: solid 3px #6E6E6E;
}

.delete-transaction-checkbox-container .checkmark:after 
{
    content: "";
    position: absolute;
    display: none;
}

.delete-transaction-checkbox-container input:checked ~ .checkmark:after 
{
    display: block;
}

.delete-transaction-checkbox-container .checkmark:after 
{
    width: 80%;
    height: 80%;
    border-radius: 50%;
    background: #6E6E6E;
}

.delete-transaction-checkbox-container span
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.transaction .editable-content
{
    outline: none;
}

.transaction .editable-content select
{
    padding: 5px;
    outline: none;
    border: #575757 solid 2px;
    border-radius: 5px;
    font-family: 'Gotham Light';
}

.transaction .editable-content:focus
{
    border-bottom: #575757 dashed 2px;
    width: fit-content;
    min-width: 20px;
    max-width: 90%; /*100 - 10% margin */
}

.transaction .element-margin
{
    margin-right: 10%;
}

@media screen and (max-width: 1300px) {

    .transaction .transaction-content
    {
        font-size: 14px;
    }

    .transaction .transaction-content .amount
    {
        font-size: 14px;
    }

    .transaction .transaction-content .category
    {
        white-space: nowrap;
    }

    .transaction .transaction-content .description
    {
        white-space: nowrap;
    }
}

@media screen and (max-width: 1100px) {

    .transaction .transaction-content
    {
        font-size: 12px;
    }

    .transaction .transaction-content .amount
    {
        font-size: 12px;
    }
}

@media screen and (max-width: 850px) {

    .transaction .transaction-content
    {
        grid-template-rows: 33% 33% 33%;
        row-gap: 2px;
        grid-template-columns: 100% !important;
    }

    .transaction .transaction-content .amount
    {
        justify-content: start;
        font-size: 11px;
    }
}

@media screen and (max-width: 470px) {
    .transaction .transaction-content
    {
        font-size: 8px;
    }

    .transaction .transaction-content
    {
        row-gap: 1px;
    }

    .transaction .transaction-content .amount
    {
        font-size: 8px;
    }

    .transaction .transaction-edit-button-container button img
    {
        width: 10px;
        height: 10px;
    }
    .transaction .transaction-delete-button-container button img
    {
        width: 10px;
        height: 10px;
    }
}

