.transaction
{
    width:100%;
    border-bottom: 2px solid black;
    display: flex;
}

.duplicate
{
    background: rgb(255,189,186);
    background: linear-gradient(0deg, rgba(255,189,186,1) 0%, rgba(255,255,255,1) 100%);
}

.transaction .transaction-content
{
    width:95%;
    padding: 2%;
    display: grid;
}

.transaction-element
{
    display: flex;
    align-items: center;
    overflow: hidden;
}

.transaction .transaction-content .category
{
    font-family: 'Gotham Medium';
    font-size: 80%;
}

.transaction .transaction-content .amount 
{
    font-family: 'Gotham Medium';
    font-size: 100%;
    justify-content: end;
    gap:1%;
}
.transaction .transaction-content .transactionType
{
    font-family: 'Gotham Light';
    font-size: 80%;
}

.transaction .transaction-content .description
{
    font-family: 'Gotham Light';
    font-size: 80%;
}

.transaction .transaction-content .date
{
    font-family: 'Gotham Light';
    font-size: 80%;
}


.transaction .transaction-edit-button-container 
{
    width: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.transaction .transaction-edit-button-container button
{
    border: none;
    background-color: transparent;
}
.transaction .transaction-edit-button-container button img
{
    width: 80%;
    height: 80%;
}

.transaction .transaction-delete-button-container 
{
    width: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.transaction .transaction-delete-button-container button
{
    border: none;
    background-color: transparent;
}
.transaction .transaction-delete-button-container button img
{
    width: 80%;
    height: 80%;
}

.delete-transaction-checkbox-container
{
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.delete-transaction-checkbox-container input
{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    margin: auto;
}

.delete-transaction-checkbox-container .checkmark 
{
    position: absolute;
    height: 15px;
    width: 15px;
    background-color: white;
    border-radius: 50%;
    border: solid 3px #6E6E6E;
}

.delete-transaction-checkbox-container .checkmark:after 
{
    content: "";
    position: absolute;
    display: none;
}

.delete-transaction-checkbox-container input:checked ~ .checkmark:after 
{
    display: block;
}

.delete-transaction-checkbox-container .checkmark:after 
{
    width: 80%;
    height: 80%;
    border-radius: 50%;
    background: #6E6E6E;
}

.delete-transaction-checkbox-container span
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.transaction .editable-content
{
    outline: none;
}

.transaction .editable-content select
{
    padding: 5px;
    outline: none;
    border: #575757 solid 2px;
    border-radius: 5px;
    font-family: 'Gotham Light';
}

.transaction .editable-content:focus
{
    border-bottom: #575757 dashed 2px;
    width: fit-content;
    min-width: 20px;
    max-width: 90%; /*100 - 10% margin*/
}

.transaction .editable-margin
{
    margin-right: 10%;
}