.notifications-page
{
    width: 85%;
    height: 100%;
    display: grid;
    grid-template-rows: 33% 67%;    
    grid-template-columns: 100%;
}

.notifications-page .notifications-page-header
{
    background: linear-gradient(to top,#10032B , #B6B0CF  );
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    width: 100%;
    display: grid;
    grid-template-rows: 25% 80% 5%;
    grid-template-columns: 60% 40%;
}

.notifications-page .notifications-page-header .notifications-page-title
{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    font-family: 'Gotham Bold';
    font-size: 70px;
    text-shadow: 2px 2px 5px #10032B;
    color: white;
    margin-top: auto;
    margin-bottom: 10%;
}

.notifications-page .notifications-page-content
{
    grid-row-start:2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    width: 100%;
    border-top: 1px solid white;
}