.settings-page
{
    background-color: #10032B;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
}

.settings-page .settings-page-popup
{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    width: 50%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}