.train-ai-page
{
    width: 85%;
    height: 100%;
    display: grid;
    grid-template-rows: 33% 67%;    
    grid-template-columns: 100%;
}

.train-ai-page .train-ai-page-header
{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    width: 100%;
    display: grid;
    grid-template-rows: 25% 75% ;
    grid-template-columns: auto 35% 5%;
}

.train-ai-page .train-ai-page-header .train-ai-page-title
{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    color: white;
    margin-top: auto;
    margin-bottom: auto;

}

.train-ai-page .train-ai-page-header .train-ai-page-title .train-ai-page-maintitle
{
    font-family: 'Gotham Bold';
    font-size: 70px;
    text-shadow: 2px 2px 5px #10032B;
    text-align:right;

}

.train-ai-page .train-ai-page-content
{
    grid-row-start:2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    width: 100%;
    border-top: 1px solid white;
    display: grid;
    grid-template-columns: 5% 55% 35% 5%;
    grid-template-rows: 5% 90% 5%;
}

.train-ai-page .train-ai-page-content .train-ai-page-content-description
{
    grid-row-start:2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Gotham Medium';
    font-size: 20px
}

.train-ai-page .train-ai-page-content .train-ai-page-content-button-container
{
    grid-row-start:2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.train-ai-page .train-ai-page-content .train-ai-page-content-button-container .train-ai-button
{
    font-size: 12px;
    background-color: #20F7C5;
    color: black;
    width: 120px;
    height: 50px;
    border-radius: 40px;
    font-family: 'Gotham Bold';
    box-shadow: 8px 8px 5px #010446;
    border:0;
}
@media screen and (max-width: 1500px)
{

    .train-ai-page .train-ai-page-header .train-ai-page-title .train-ai-page-maintitle
    {
        font-size: 65px;
    }

    .train-ai-page .train-ai-page-content .train-ai-page-content-description
    {
        font-size: 18px;
    }
}


@media screen and (max-width: 1250px)
{

    .train-ai-page .train-ai-page-header .train-ai-page-title .train-ai-page-maintitle
    { 
        font-size: 60px;
    }
    .train-ai-page .train-ai-page-content .train-ai-page-content-description
    {
        font-size: 16px;
    }

    .train-ai-page .train-ai-page-content .train-ai-page-content-button-container .train-ai-button
    {
        font-size: 10px;
        width: 100px;
        height: 45px;
    }
}

@media screen and (max-width: 1150px)
{

    .train-ai-page .train-ai-page-header .train-ai-page-title .train-ai-page-maintitle
    {
        font-size: 55px;
    }

    .train-ai-page .train-ai-page-content .train-ai-page-content-description
    {
        font-size: 14px;
    }


}

@media screen and (max-width: 1050px)
{
    .train-ai-page .train-ai-page-header .train-ai-page-title .train-ai-page-maintitle
    {
        font-size: 50px;
    }

    .train-ai-page .train-ai-page-content .train-ai-page-content-description
    {
        font-size: 12px;
    }

}

@media screen and (max-width: 1000px)
{
    .train-ai-page
    {
        width: 100%;
    }
    .train-ai-page .train-ai-page-header
    {
        margin-top: 50px;
    }
    .train-ai-page .train-ai-page-header .train-ai-page-title
    {
        grid-column-start: 1;
        grid-column-end: 3;
    }


    .train-ai-page .train-ai-page-header .train-ai-page-title .train-ai-page-maintitle
    {    
        font-size: 65px;
    }
    .train-ai-page .train-ai-page-content .train-ai-page-content-description
    {
        font-size: 16px;
    }

}

@media screen and (max-width: 650px)
{
    .train-ai-page .train-ai-page-header .train-ai-page-title .train-ai-page-maintitle
    {    
        font-size: 55px;
    }
    .train-ai-page .train-ai-page-content
    {

        grid-template-columns: 10% 80% 10%;
        grid-template-rows: 10% 20% 65% 5%;
    }
    .train-ai-page .train-ai-page-content .train-ai-page-content-description
    {
        grid-row-start:3;
        grid-row-end: 4;
        grid-column-start: 2;
        grid-column-end: 3;
    }
    
    .train-ai-page .train-ai-page-content .train-ai-page-content-button-container
    {
        grid-row-start:2;
        grid-row-end: 3;
        grid-column-start: 2;
        grid-column-end: 3;
    }
    .train-ai-page .train-ai-page-content .train-ai-page-content-description
    {
        font-size: 12px;
    }

}

@media screen and (max-width: 520px)
{

    .train-ai-page .train-ai-page-header .train-ai-page-title .train-ai-page-maintitle
    {    
        font-size: 45px;
    }
    .train-ai-page .train-ai-page-content .train-ai-page-content-button-container .train-ai-button
    {
        font-size: 9px;
        width: 85px;
        height: 40px;
    }
    .train-ai-page .train-ai-page-content .train-ai-page-content-description
    {
        font-size: 10px;
    }
    
}

@media screen and (max-width: 450px)
{

    .train-ai-page .train-ai-page-header .train-ai-page-title .train-ai-page-maintitle
    {    
        font-size: 35px;
    }
    .train-ai-page .train-ai-page-content .train-ai-page-content-description
    {
        font-size: 8px;
    }
    .train-ai-page .train-ai-page-content .train-ai-page-content-button-container .train-ai-button
    {
        font-size: 8px;
        width: 75px;
        height: 35px;
    }
}
