.feature-panel
{
    width: 100%;
    height: 500px;
    background-color: #260B5A;
    color:white;
    display: flex;
}

.feature-panel .feature-text 
{
    width: 80%;
    padding-left: 55px;
    padding-right: 55px;
}

.feature-panel .feature-text .feature-title 
{
    padding-top: 25px;
    padding-bottom: 40px;
    font-size: 40px;
}

.feature-panel .feature-text .feature-description 
{
    width: 70%;
}

.feature-panel .feature-text .feature-description p
{
    margin: 0;
    font-size: 22px;
    line-height: 40px;
}
.feature-panel .feature-image 
{
    /* padding-right: 5%; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    padding-left: 55px;
    padding-right: 55px;
    padding-top: 55px;
}

.feature-panel .feature-image img
{
    width: 250px;
    height: 250px;
    
}

@media screen and (max-width:1100px)
{
    .feature-panel
    {
        height: 400px;
    }

    .feature-panel .feature-text .feature-title 
    {
        padding-top: 25px;
        padding-bottom: 40px;
        font-size: 30px;
    }
    .feature-panel .feature-text .feature-description 
    {
        width: 90%;
    }
    
    .feature-panel .feature-text .feature-description p
    {
        font-size: 20px;
        line-height: 30px;

    }
    .feature-panel .feature-image img
    {
        width: 200px;
        height: 200px;
    }
}

@media screen and (max-width:950px)
{
    .feature-panel
    {
        height: 250px;
    }

    .feature-panel .feature-text .feature-title 
    {
        padding-top: 20px;
        padding-bottom: 40px;
        font-size: 30px;
    }

    .feature-panel .feature-text .feature-description p
    {
        font-size: 15px;
        line-height: 20px;

    }
    .feature-panel .feature-image img
    {
        width: 150px;
        height: 150px;
    }
}

@media screen and (max-width:700px)
{
    .feature-panel {
        display: block;
        height: fit-content;
    }

    .feature-panel .feature-image {
        padding-top: 15px;
        display: flex;
        justify-content: center;
    }

    .feature-panel .feature-text 
    {
        text-align: center;
    }

    .feature-panel .feature-text .feature-description 
    {
        width: 100%;
        margin: 0;
    }
    .feature-panel .feature-image img
    {
        width: 100px;
        height: 100px;
    }
}