.family-mode-page
{
    background: rgb(16,3,43);
    background: linear-gradient(0deg, rgba(16,3,43,1) 0%, rgba(16,3,43,1) 67%, rgba(182,176,207,1) 100%);    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
}

.family-mode-page .family-mode-content
{
    width: 85%;
    height: 100%;
    display: grid;
    grid-template-rows: 33% 67%;
    grid-template-columns: 35% 5% 5% 55%;
}

.family-mode-page .family-mode-content .header
{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 5;
    width: 100%;
    text-align: end;
    margin-left: auto;
    margin-right: 0;
    display: flex;
    align-items: center;
}
.family-mode-page .family-mode-content .header .title{
    width:100%;
    text-align: end;
    padding-right: 3%;
    padding-top: 7%;
    color: white;

}
.family-mode-page .family-mode-content .header .title .subtitle
{
    font-family: 'Gotham Medium';
    font-size: 28px;
}

.family-mode-page .family-mode-content .header .title .maintitle
{
    font-family: 'Gotham Bold';
    font-size: 80px;
    text-shadow: 5px 5px 3px #180A45;
}
.family-mode-page .family-mode-content .main-content-photo
{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    margin-top: auto;
    margin-bottom: 0;
    padding-left: 10%;
}

.family-mode-page .family-mode-content .main-content-photo img
{
    width: 100%;
    height: 100%;
}

.family-mode-page .family-mode-content .main-content-description
{   
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 5;
    color: white;
    padding-top: 20%;
    font-family: 'Gotham Medium';
    font-size: 20px;
    padding-right: 3%;
    padding-left: 10%;
}
