.family-mode-page
{
    background: rgb(16,3,43);
    background: linear-gradient(0deg, rgba(16,3,43,1) 0%, rgba(16,3,43,1) 67%, rgba(182,176,207,1) 100%);    height: 100vh;
    width: 100%;
    display: flex;
}

.family-mode-page .family-mode-content
{
    width: 85%;
    height: 100%;
    display: grid;
    grid-template-rows: 33% 67%;
    grid-template-columns: 35% 5% 5% 55%;
}

.family-mode-page .family-mode-content .header
{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 5;
    width: 100%;
    text-align: end;
    margin-left: auto;
    margin-right: 0;
    /* display: flex; */
    display:grid;
    grid-template-rows: 40% 60%;    
    grid-template-columns: 50% 49% 1%;
    /* align-items: center; */
}

.family-mode-page .family-mode-content .header .family-mode-button-container
{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 3%;

}

.family-mode-page .family-mode-content .header .title{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    /* width:100%; */
    padding-right: 3%;
    text-align: end;
    color: white;

}
.family-mode-page .family-mode-content .header .title .subtitle
{
    font-family: 'Gotham Medium';
    font-size: 28px;
}

.family-mode-page .family-mode-content .header .title .maintitle
{
    font-family: 'Gotham Bold';
    font-size: 80px;
    text-shadow: 5px 5px 3px #180A45;
}

.family-mode-page .family-mode-content .header .title .maintitle-long
{
    font-size: 70px;
}


.family-mode-page .family-mode-content .main-content-photo
{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    margin-top: auto;
    margin-bottom: 0;
    padding-left: 10%;
}

.family-mode-page .family-mode-content .main-content-photo img
{
    width: 100%;
    height: 100%;
}

.family-mode-page .family-mode-content .main-content-description
{   
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 5;
    color: white;
    padding-top: 20%;
    font-family: 'Gotham Medium';
    font-size: 20px;
    padding-right: 3%;
    padding-left: 15%;
    line-height: 200%;
    text-align: right;
}

@media screen and (max-width: 1300px) {
    .family-mode-page .family-mode-content .header .title .subtitle
    {
        font-size: 24px;
    }

    .family-mode-page .family-mode-content .header .title .maintitle
    {
        font-size: 70px;
    }

    .family-mode-page .family-mode-content .header .title .maintitle-long
    {
        font-size: 60px;
    }
}

@media screen and (max-width: 1000px) {
    .family-mode-page .family-mode-content
    {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-rows: 33% 67%;
        grid-template-columns: 35% 5% 5% 55%;
    }
    .family-mode-page .family-mode-content .main-content-description
    {
        font-size: 18px;
    }

    .family-mode-page .family-mode-content .header
    {
        margin-top: 50px;
    }
}

@media screen and (max-width: 750px) {
    .family-mode-page .family-mode-content .header .title .subtitle
    {
        font-size: 20px;
    }

    .family-mode-page .family-mode-content .header .title .maintitle
    {
        font-size: 55px;
    }

    .family-mode-page .family-mode-content .header .title .maintitle-long
    {
        font-size: 45px;
    }


    .family-mode-page .family-mode-content .main-content-description
    {
        font-size: 16px;
        padding: 80px 80px;
        justify-self: center;
        align-self: center;
        grid-column-start: 1;
    }

    .family-mode-page .family-mode-content .main-content-photo
    {
        display: none;
    }
}

@media screen and (max-width: 550px) {
    .family-mode-page .family-mode-content .header .title .subtitle
    {
        font-size: 20px;
    }

    .family-mode-page .family-mode-content .header .title .maintitle
    {
        font-size: 45px;
    }

    .family-mode-page .family-mode-content .header .title .maintitle-long
    {
        font-size: 35px;
    }

    .family-mode-page .family-mode-content .main-content-description
    {
        font-size: 14px;
        padding: 20px 80px;
    }
}

@media screen and (max-width: 450px) {
    .family-mode-page .family-mode-content .header .title .subtitle
    {
        font-size: 14px;
    }

    .family-mode-page .family-mode-content .header .title .maintitle
    {
        font-size: 35px;
    }

    .family-mode-page .family-mode-content .header .title .maintitle-long
    {
        font-size: 30px;
    }

    .family-mode-page .family-mode-content .main-content-description
    {
        font-size: 12px;
        padding: 20px 60px;
    }
}