.partner-mode-page
{
    background: rgb(16,3,43);
    background: linear-gradient(0deg, rgba(16,3,43,1) 0%, rgba(16,3,43,1) 67%, rgba(182,176,207,1) 100%);    height: 100vh;
    width: 100%;
    height: 100vh;
    display: flex;
}



.partner-mode-page .partner-mode-page-content
{
    width: 85%;
    height: 100%;
    display: grid;
    grid-template-columns:  30% 70%;
}


.partner-mode-page .partner-mode-page-content .header
{
    grid-column-start: 1;
    grid-column-end: 3;
    width: 100%;
    text-align: end;
    margin-left: auto;
    margin-right: 0;
    display:grid;
    grid-template-rows: 40% 60%;    
    grid-template-columns: 50% 49% 1%;
}


.partner-mode-page .partner-mode-page-content .header .partner-mode-debt-panel
{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 10%;
}
.partner-mode-page .partner-mode-page-content .header .partner-mode-button-container
{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 3%;

}
.partner-mode-page .partner-mode-page-content .header .partner-mode-button-container .settle-your-bills-button
{
    font-size: 16px;
    background-color: #20F7C5;
    color: black;
    width: 180px;
    height: 50px;
    border:none;
    border-radius: 33px;
    font-family: 'Gotham Bold';
    box-shadow: 5px 5px 3px #180A45;
}

.partner-mode-page .partner-mode-page-content .header .title{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    text-align: end;
    padding-right: 3%;
    color: white;

}
.partner-mode-page .partner-mode-page-content .header .title .subtitle
{
    font-family: 'Gotham Medium';
    font-size: 28px;
}

.partner-mode-page .partner-mode-page-content .header .title .maintitle
{
    font-family: 'Gotham Bold';
    font-size: 80px;
    text-shadow: 5px 5px 3px #180A45;
}



.partner-mode-page .partner-mode-page-content .partner-mode-page-show-filter-menu
{
    grid-column-start: 1;
    grid-column-end: 2;
    width: 100%;
    text-align: start;
    font-family: 'Gotham Medium';
    font-size: 30px;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 10%;
    gap:3%;
}
.partner-mode-page .partner-mode-page-content .partner-mode-page-show-filter-menu .partner-mode-page-show-filter-menu-icon
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.partner-mode-page .partner-mode-page-content .partner-mode-page-show-filter-menu .partner-mode-page-show-filter-menu-icon img{
    width: 100%;
    height: 100%;
}

.partner-mode-page .partner-mode-page-content .partner-mode-page-filter-menu
{
    width: 100%;
    background-color: #10032B;
    box-shadow: inset 0 0 10px #54498B;
    grid-column-start: 1;
    grid-column-end: 3;
    display: grid;
    grid-template-rows: 33% 33% 33%;
    grid-template-columns: 70% 30%;
}

.partner-mode-page .partner-mode-page-content .partner-mode-page-filter-menu .partner-mode-page-filter-menu-element
{
    grid-column-start: 1;
    grid-column-end: 2;
    color: white;
    font-family: 'Gotham Medium';
    font-size: 20px;
    padding-left: 2%;
    width: 100%;
    display: grid;
    align-items: center;
}

.partner-mode-page .partner-mode-page-content .partner-mode-page-filter-menu .partner-mode-page-filter-menu-element label
{
    font-size: 18px;
}

.partner-mode-page .partner-mode-page-content .partner-mode-page-filter-menu .partner-mode-page-filter-menu-element input
{
    margin-left: 10%;
    width: 50%;
    background-color: transparent;
    color: white;
    font-family: 'Gotham Light';
    font-size: 12px;
    outline: none;
    border: none;
    border-bottom: 1px solid white;
}
.partner-mode-page .partner-mode-page-content .partner-mode-page-filter-menu .partner-mode-page-filter-menu-element select
{
    width: 50%;
    background-color: transparent;
    color: white;
    font-family: 'Gotham Light';
    font-size: 12px;
    outline: none;
    border: none;
    border-bottom: 1px solid white;
    justify-self: left;
}
.partner-mode-page .partner-mode-page-content .partner-mode-page-filter-menu .partner-mode-page-filter-menu-element input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}
.partner-mode-page .partner-mode-page-content .partner-mode-page-filter-menu .partner-mode-page-date-filter-menu
{
    grid-row-start: 1;
    grid-row-end: 2;
    
}
.partner-mode-page .partner-mode-page-content .partner-mode-page-filter-menu .partner-mode-page-category-filter-menu
{
    grid-row-start: 2;
    grid-row-end: 3;
}
.partner-mode-page .partner-mode-page-content .partner-mode-page-filter-menu .partner-mode-page-amount-filter-menu
{
    grid-row-start: 3;
    grid-row-end: 4;

}
.partner-mode-page .partner-mode-page-content .partner-mode-page-filter-menu .partner-mode-page-filter-menu-button-container
{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    display: grid;
    align-items: center;
    justify-content: center;
}

.partner-mode-page .partner-mode-page-content .partner-mode-page-filter-menu .partner-mode-page-filter-menu-button-container .partner-mode-page-filter-menu-button
{
    font-size: 16px;
    background-color: #20F7C5;
    color: black;
    width: 180px;
    height: 50px;
    border:none;
    border-radius: 33px;
    font-family: 'Gotham Bold';
    box-shadow: 5px 5px 3px #180A45;
}

.partner-mode-page .partner-mode-page-content .transactions-list
{
    grid-column-start: 1;
    grid-column-end: 3;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.partner-mode-page .partner-mode-pop-up-panel
{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    width: 50%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width: 1300px) 
{
    .partner-mode-page .partner-mode-page-content .header .title .maintitle
    {
        font-size: 70px;
    }

    .partner-mode-page .partner-mode-page-content .header .title .subtitle
    {
        font-size: 24px;
    }


    .partner-mode-page .partner-mode-page-content .header .partner-mode-button-container .settle-your-bills-button
    {
        font-size: 14px;
        width: 160px;
        height: 45px;

    }

    .partner-mode-page .partner-mode-page-content .partner-mode-page-show-filter-menu
    {
        font-size: 26px;
    }

    .partner-mode-page .partner-mode-page-content .partner-mode-page-show-filter-menu .partner-mode-page-show-filter-menu-icon img{
        width: 90%;
        height: 90%;
    }

    .partner-mode-page .partner-mode-page-content .partner-mode-page-filter-menu .partner-mode-page-filter-menu-element
    {
        font-size: 18px;
    }

    .partner-mode-page .partner-mode-page-content .partner-mode-page-filter-menu .partner-mode-page-filter-menu-element label
    {
        font-size: 16px;
    }

    .partner-mode-page .partner-mode-page-content .partner-mode-page-filter-menu .partner-mode-page-filter-menu-button-container .partner-mode-page-filter-menu-button
    {
        font-size: 14px;
        width: 160px;
        height: 45px;
    }

}


@media screen and (max-width: 1150px)
{
    .partner-mode-page .partner-mode-page-content .header .title .maintitle
    {
        font-size: 65px;
    }

    .partner-mode-page .partner-mode-page-content .header .title .subtitle
    {
        font-size: 22px;
    }

    .partner-mode-page .partner-mode-page-content .header .partner-mode-button-container .settle-your-bills-button
    {
        font-size: 13px;
        width: 150px;
        height: 40px;

    }

    .partner-mode-page .partner-mode-page-content .partner-mode-page-show-filter-menu
    {
        font-size: 20px;
    }

    .partner-mode-page .partner-mode-page-content .partner-mode-page-show-filter-menu .partner-mode-page-show-filter-menu-icon img{
        width: 70%;
        height: 70%;
    }

    .partner-mode-page .partner-mode-page-content .partner-mode-page-filter-menu .partner-mode-page-filter-menu-element
    {
        font-size: 16px;
    }

    .partner-mode-page .partner-mode-page-content .partner-mode-page-filter-menu .partner-mode-page-filter-menu-element label
    {
        font-size: 14px;
    }

    .partner-mode-page .partner-mode-page-content .partner-mode-page-filter-menu .partner-mode-page-filter-menu-element input
    {
        font-size: 10px;
    }
    .partner-mode-page .partner-mode-page-content .partner-mode-page-filter-menu .partner-mode-page-filter-menu-element select
    {
        font-size: 10px;
    }
    .partner-mode-page .partner-mode-page-content .partner-mode-page-filter-menu .partner-mode-page-filter-menu-button-container .partner-mode-page-filter-menu-button
    {
        font-size: 12px;
        width: 150px;
        height: 40px;
    }

}


@media screen and (max-width: 1050px)
{
    .partner-mode-page .partner-mode-page-content .header .title .maintitle
    {
        font-size: 55px;
    }

    .partner-mode-page .partner-mode-page-content .header .title .subtitle
    {
        font-size: 20px;
    }

    .partner-mode-page .partner-mode-page-content .header .partner-mode-button-container .settle-your-bills-button
    {
        font-size: 12px;
        width: 130px;
        height: 40px;

    }

    .partner-mode-page .partner-mode-page-content .partner-mode-page-filter-menu .partner-mode-page-filter-menu-element
    {
        font-size: 14px;
    }

    .partner-mode-page .partner-mode-page-content .partner-mode-page-filter-menu .partner-mode-page-filter-menu-element label
    {
        font-size: 12px;
    }


    .partner-mode-page .partner-mode-page-content .partner-mode-page-filter-menu .partner-mode-page-filter-menu-button-container .partner-mode-page-filter-menu-button
    {
        font-size: 10px;
        width: 130px;
        height: 35px;
    }
}

@media screen and (max-width: 1000px)
{
    .partner-mode-page .partner-mode-page-content .header .title .maintitle
    {
        font-size: 65px;
    }

    .partner-mode-page .partner-mode-page-content .header .title .subtitle
    {
        font-size: 22px;
    }

    .partner-mode-page .partner-mode-page-content
    {
        width: 100%;
    }

    .partner-mode-page .partner-mode-page-content .header .partner-mode-debt-panel
    {
        display: none;
    }

    .partner-mode-page .partner-mode-page-content .header .title
    {
        grid-column-start: 1;
        grid-column-end: 4;
    }

    .partner-mode-page .partner-mode-page-content .partner-mode-page-show-filter-menu
    {
        font-size: 22px;
    }

    .partner-mode-page .partner-mode-page-content .partner-mode-page-show-filter-menu .partner-mode-page-show-filter-menu-icon img{
        width: 80%;
        height: 80%;
    }

    .partner-mode-page .partner-mode-page-content .header
    {
        margin-top: 50px;
    }
    .partner-mode-page .partner-mode-page-content .partner-mode-page-filter-menu .partner-mode-page-filter-menu-element
    {
        font-size: 16px;
    }

    .partner-mode-page .partner-mode-page-content .partner-mode-page-filter-menu .partner-mode-page-filter-menu-element label
    {
        font-size: 14px;
    }

}

@media screen and (max-width: 850px)
{

    .partner-mode-page .partner-mode-page-content .header .title .maintitle
    {
        font-size: 60px;
    }

    .partner-mode-page .partner-mode-page-content .header .title .subtitle
    {
        font-size: 20px;
    }
    .partner-mode-page .partner-mode-page-content .partner-mode-page-show-filter-menu
    {
        font-size: 18px;
    }

    .partner-mode-page .partner-mode-page-content .partner-mode-page-show-filter-menu .partner-mode-page-show-filter-menu-icon img{
        width: 70%;
        height: 70%;
    }


}

@media screen and (max-width: 750px)
{    
    .partner-mode-page .partner-mode-page-content .header .title .maintitle
    {
        font-size: 55px;
    }

    .partner-mode-page .partner-mode-page-content .header .title .subtitle
    {
        font-size: 20px;
    }

    .partner-mode-page .partner-mode-page-content .header .partner-mode-button-container .settle-your-bills-button
    {
        font-size: 11px;
        width: 120px;
        height: 35px;

    }


    .partner-mode-page .partner-mode-page-content .partner-mode-page-show-filter-menu
    {
        font-size: 14px;
    }

    .partner-mode-page .partner-mode-page-content .partner-mode-page-show-filter-menu .partner-mode-page-show-filter-menu-icon img{
        width: 60%;
        height: 60%;
    }

    .partner-mode-page .partner-mode-page-content .partner-mode-page-filter-menu .partner-mode-page-filter-menu-element
    {
        font-size: 12px;
    }

    .partner-mode-page .partner-mode-page-content .partner-mode-page-filter-menu .partner-mode-page-filter-menu-element label
    {
        font-size: 11px;
    }

    .partner-mode-page .partner-mode-page-content .partner-mode-page-filter-menu .partner-mode-page-filter-menu-button-container .partner-mode-page-filter-menu-button
    {
        font-size: 10px;
        width: 120px;
        height: 35px;
    }

}

@media screen and (max-width: 550px)
{    
    .partner-mode-page .partner-mode-page-content .header .title .maintitle
    {
        font-size: 45px;
    }

    .partner-mode-page .partner-mode-page-content .header .title .subtitle
    {
        font-size: 18px;
    }


    .partner-mode-page .partner-mode-page-content .header .partner-mode-button-container .settle-your-bills-button
    {
        font-size: 8px;
        width: 80px;
        height: 30px;

    }
    .partner-mode-page .partner-mode-page-content .partner-mode-page-filter-menu .partner-mode-page-filter-menu-element
    {
        font-size: 10px;
    }

    .partner-mode-page .partner-mode-page-content .partner-mode-page-filter-menu .partner-mode-page-filter-menu-element label
    {
        font-size: 8px;
    }

    .partner-mode-page .partner-mode-page-content .partner-mode-page-filter-menu .partner-mode-page-filter-menu-element input
    {
        font-size: 7px;
        width: 45%;

    }
    .partner-mode-page .partner-mode-page-content .partner-mode-page-filter-menu .partner-mode-page-filter-menu-element select
    {
        font-size: 7px;
    }
    .partner-mode-page .partner-mode-page-content .partner-mode-page-filter-menu .partner-mode-page-filter-menu-button-container .partner-mode-page-filter-menu-button
    {
        font-size: 8px;
        width: 80px;
        height: 30px;
    }

}


@media screen and (max-width: 450px)
{

    .partner-mode-page .partner-mode-page-content .header .title .maintitle
    {
        font-size: 35px;
    }

    .partner-mode-page .partner-mode-page-content .header .title .subtitle
    {
        font-size: 14px;
    }

    .partner-mode-page .partner-mode-page-content .header .partner-mode-button-container .settle-your-bills-button
    {
        font-size: 6px;
        width: 60px;
        height: 25px;

    }

    .partner-mode-page .partner-mode-page-content .partner-mode-page-show-filter-menu
    {
        font-size: 10px;
    }

    .partner-mode-page .partner-mode-page-content .partner-mode-page-show-filter-menu .partner-mode-page-show-filter-menu-icon img{
        width: 50%;
        height: 50%;
    }
    .partner-mode-page .partner-mode-page-content .partner-mode-page-filter-menu .partner-mode-page-filter-menu-element
    {
        font-size: 8px;
    }

    .partner-mode-page .partner-mode-page-content .partner-mode-page-filter-menu .partner-mode-page-filter-menu-element label
    {
        font-size: 6px;
    }

    .partner-mode-page .partner-mode-page-content .partner-mode-page-filter-menu .partner-mode-page-filter-menu-element input
    {
        font-size: 6px;
        width: 50%;

    }
    .partner-mode-page .partner-mode-page-content .partner-mode-page-filter-menu .partner-mode-page-filter-menu-element select
    {
        font-size: 6px;
    }
    .partner-mode-page .partner-mode-page-content .partner-mode-page-filter-menu .partner-mode-page-filter-menu-button-container .partner-mode-page-filter-menu-button
    {
        font-size: 6px;
        width: 60px;
        height: 20px;
    }
}