.transaction-page
{
    background: rgb(16,3,43);
    background: linear-gradient(0deg, rgba(16,3,43,1) 0%, rgba(16,3,43,1) 67%, rgba(182,176,207,1) 100%);
    height: 100vh;
    width: 100%;
    display: flex;
}

.transaction-page .transaction-page-content
{
    width: 85%;
    height: 100%;
    display: grid;
    grid-template-columns: 30% 70%;
}

.transaction-page .transaction-page-content .header
{
    grid-column-start: 1;
    grid-column-end: 3;
    width: 100%;
    text-align: end;
    margin-left: auto;
    margin-right: 0;
    display:grid;
    grid-template-rows: 40% 60%;    
    grid-template-columns: 30% 20% 49% 1%;

}
.transaction-page .transaction-page-content .header .transaction-page-content-buttons
{
    grid-column-start: 3;
    grid-column-end: 4;
    padding-top: 5%;
    display: flex;
    gap:3%;
    justify-content: end;
    align-items: center;
}


.transaction-page .transaction-page-content .header .add-transactions-button-container .add-transactions-button
{
    font-size: 16px;
    background-color: #20F7C5;
    color: black;
    width: 180px;
    height: 50px;
    border:none;
    border-radius: 33px;
    font-family: 'Gotham Bold';
    box-shadow: 5px 5px 3px #180A45;
}

.transaction-page .transaction-page-content .header .delete-transactions-button-container .delete-transactions-button
{
    font-size: 16px;
    background-color: #20F7C5;
    color: black;
    width: 180px;
    height: 50px;
    border:none;
    border-radius: 33px;
    font-family: 'Gotham Bold';
    box-shadow: 5px 5px 3px #180A45;
}

.transaction-page .transaction-page-content .header .delete-transactions-button-container .active-delete-transactions-button
{
    font-size: 16px;
    background-color: #FFDADA;
    color: #CC3C3C;
    width: 180px;
    height: 50px;
    border: 3px solid #CC3C3C;
    border-radius: 33px;
    font-family: 'Gotham Bold';
    box-shadow: 5px 5px 3px #180A45;
}

.transaction-page .transaction-page-content .header .title
{
    grid-column-start: 3;
    grid-column-end: 4;
    text-align: end;
    color: white;
    margin-top: 5%;
    font-family: 'Gotham Bold';
    font-size: 80px;
    text-shadow: 5px 5px 3px #180A45;
}


.transaction-page .transaction-page-content .header .insights-panel
{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 10%;
}

.transaction-page .transaction-page-content .transactions-list
{
    grid-column-start: 1;
    grid-column-end: 3;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.transaction-page .transaction-page-content .transaction-page-show-filter-menu
{
    grid-column-start: 1;
    grid-column-end: 2;
    width: 100%;
    text-align: start;
    font-family: 'Gotham Medium';
    font-size: 30px;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 10%;
    gap:3%;
}
.transaction-page .transaction-page-content .transaction-page-show-filter-menu .transaction-page-show-filter-menu-icon
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.transaction-page .transaction-page-content .transaction-page-show-filter-menu .transaction-page-show-filter-menu-icon img{
    width: 100%;
    height: 100%;
}

.transaction-page .transaction-page-content .transaction-page-filter-menu
{
    width: 100%;
    background-color: #10032B;
    box-shadow: inset 0 0 10px #54498B;
    grid-column-start: 1;
    grid-column-end: 3;
    display: grid;
    grid-template-rows: 33% 33% 33%;
    grid-template-columns: 70% 30%;
}

.transaction-page .transaction-page-content .transaction-page-filter-menu .transaction-page-filter-menu-element
{
    grid-column-start: 1;
    grid-column-end: 2;
    color: white;
    font-family: 'Gotham Medium';
    font-size: 20px;
    padding-left: 2%;
    width: 100%;
    display: grid;
    align-items: center;
}

.transaction-page .transaction-page-content .transaction-page-filter-menu .transaction-page-filter-menu-element label
{
    font-size: 18px;
}

.transaction-page .transaction-page-content .transaction-page-filter-menu .transaction-page-filter-menu-element input
{
    margin-left: 10%;
    width: 50%;
    background-color: transparent;
    color: white;
    font-family: 'Gotham Light';
    font-size: 12px;
    outline: none;
    border: none;
    border-bottom: 1px solid white;
}
.transaction-page .transaction-page-content .transaction-page-filter-menu .transaction-page-filter-menu-element select
{
    width: 50%;
    background-color: transparent;
    color: white;
    font-family: 'Gotham Light';
    font-size: 12px;
    outline: none;
    border: none;
    border-bottom: 1px solid white;
    justify-self: left;
}
.transaction-page .transaction-page-content .transaction-page-filter-menu .transaction-page-filter-menu-element input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}
.transaction-page .transaction-page-content .transaction-page-filter-menu .transaction-page-date-filter-menu
{
    grid-row-start: 1;
    grid-row-end: 2;
    
}
.transaction-page .transaction-page-content .transaction-page-filter-menu .transaction-page-category-filter-menu
{
    grid-row-start: 2;
    grid-row-end: 3;
}
.transaction-page .transaction-page-content .transaction-page-filter-menu .transaction-page-amount-filter-menu
{
    grid-row-start: 3;
    grid-row-end: 4;

}
.transaction-page .transaction-page-content .transaction-page-filter-menu .transaction-page-filter-menu-button-container
{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    display: grid;
    align-items: center;
    justify-content: center;
}

.transaction-page .transaction-page-content .transaction-page-filter-menu .transaction-page-filter-menu-button-container .transaction-page-filter-menu-button
{
    font-size: 16px;
    background-color: #20F7C5;
    color: black;
    width: 180px;
    height: 50px;
    border:none;
    border-radius: 33px;
    font-family: 'Gotham Bold';
    box-shadow: 5px 5px 3px #180A45;
}

/* było 1500 przed chwila zmieniłam do sprawdzenia */
@media screen and (max-width: 1300px) 
{
    .transaction-page .transaction-page-content .header .title
    {
        font-size: 70px;
    }

    .transaction-page .transaction-page-content .header .add-transactions-button-container .add-transactions-button,
    .transaction-page .transaction-page-content .header .delete-transactions-button-container .delete-transactions-button,
    .transaction-page .transaction-page-content .header .delete-transactions-button-container .active-delete-transactions-button
    {
        font-size: 14px;
        width: 160px;
        height: 45px;

    }

    .transaction-page .transaction-page-content .transaction-page-show-filter-menu
    {
        font-size: 26px;
    }
    .transaction-page .transaction-page-content .transaction-page-show-filter-menu .transaction-page-show-filter-menu-icon img{
        width: 90%;
        height: 90%;
    }

    .transaction-page .transaction-page-content .transaction-page-filter-menu .transaction-page-filter-menu-element
    {
        font-size: 18px;
    }

    .transaction-page .transaction-page-content .transaction-page-filter-menu .transaction-page-filter-menu-element label
    {
        font-size: 16px;
    }

    .transaction-page .transaction-page-content .transaction-page-filter-menu .transaction-page-filter-menu-button-container .transaction-page-filter-menu-button
    {
        font-size: 14px;
        width: 160px;
        height: 45px;
    }

}

@media screen and (max-width: 1150px)
{
    .transaction-page .transaction-page-content .header .title
    {
        font-size: 65px;
    }

    .transaction-page .transaction-page-content .header .add-transactions-button-container .add-transactions-button,
    .transaction-page .transaction-page-content .header .delete-transactions-button-container .delete-transactions-button,
    .transaction-page .transaction-page-content .header .delete-transactions-button-container .active-delete-transactions-button
    {
        font-size: 12px;
        width: 150px;
        height: 40px;

    }

    .transaction-page .transaction-page-content .transaction-page-show-filter-menu
    {
        font-size: 20px;
    }
    .transaction-page .transaction-page-content .transaction-page-show-filter-menu .transaction-page-show-filter-menu-icon img{
        width: 70%;
        height: 70%;
    }

    .transaction-page .transaction-page-content .transaction-page-filter-menu .transaction-page-filter-menu-element
    {
        font-size: 16px;
    }

    .transaction-page .transaction-page-content .transaction-page-filter-menu .transaction-page-filter-menu-element label
    {
        font-size: 14px;
    }

    .transaction-page .transaction-page-content .transaction-page-filter-menu .transaction-page-filter-menu-element input
    {
        font-size: 10px;
    }
    .transaction-page .transaction-page-content .transaction-page-filter-menu .transaction-page-filter-menu-element select
    {
        font-size: 10px;
    }
    .transaction-page .transaction-page-content .transaction-page-filter-menu .transaction-page-filter-menu-button-container .transaction-page-filter-menu-button
    {
        font-size: 12px;
        width: 150px;
        height: 40px;
    }

}


@media screen and (max-width: 1050px)
{
    .transaction-page .transaction-page-content .header .title
    {
        font-size: 55px;
    }
    .transaction-page .transaction-page-content .header .add-transactions-button-container .add-transactions-button,
    .transaction-page .transaction-page-content .header .delete-transactions-button-container .delete-transactions-button,
    .transaction-page .transaction-page-content .header .delete-transactions-button-container .active-delete-transactions-button
    {
        font-size: 10px;
        width: 130px;
        height: 35px;

    }

    .transaction-page .transaction-page-content .transaction-page-filter-menu .transaction-page-filter-menu-element
    {
        font-size: 14px;
    }

    .transaction-page .transaction-page-content .transaction-page-filter-menu .transaction-page-filter-menu-element label
    {
        font-size: 12px;
    }


    .transaction-page .transaction-page-content .transaction-page-filter-menu .transaction-page-filter-menu-button-container .transaction-page-filter-menu-button
    {
        font-size: 10px;
        width: 130px;
        height: 35px;
    }
}


@media screen and (max-width: 1000px)
{
    .transaction-page .transaction-page-content .header .title
    {
        font-size: 65px;
    }

    .transaction-page .transaction-page-content
    {
        width: 100%;
    }
    .transaction-page .transaction-page-content .header .insights-panel
    {
        display: none;
    }
    .transaction-page .transaction-page-content .header .title
    {
        grid-column-start: 1;
        grid-column-end: 4;
    }
    .transaction-page .transaction-page-content .transaction-page-show-filter-menu
    {
        font-size: 22px;
    }
    .transaction-page .transaction-page-content .transaction-page-show-filter-menu .transaction-page-show-filter-menu-icon img{
        width: 80%;
        height: 80%;
    }
    .transaction-page .transaction-page-content .header
    {
        margin-top: 50px;
    }
    .transaction-page .transaction-page-content .transaction-page-filter-menu .transaction-page-filter-menu-element
    {
        font-size: 16px;
    }

    .transaction-page .transaction-page-content .transaction-page-filter-menu .transaction-page-filter-menu-element label
    {
        font-size: 14px;
    }

}


@media screen and (max-width: 850px)
{


    .transaction-page .transaction-page-content .transaction-page-show-filter-menu
    {
        font-size: 18px;
    }
    .transaction-page .transaction-page-content .transaction-page-show-filter-menu .transaction-page-show-filter-menu-icon img{
        width: 70%;
        height: 70%;
    }


}

@media screen and (max-width: 750px)
{    
    .transaction-page .transaction-page-content .header .title
    {
        font-size: 55px;
    }

    .transaction-page .transaction-page-content .header .add-transactions-button-container .add-transactions-button,
    .transaction-page .transaction-page-content .header .delete-transactions-button-container .delete-transactions-button,
    .transaction-page .transaction-page-content .header .delete-transactions-button-container .active-delete-transactions-button
    {
        font-size: 10px;
        width: 120px;
        height: 35px;

    }


    .transaction-page .transaction-page-content .transaction-page-show-filter-menu
    {
        font-size: 14px;
    }
    .transaction-page .transaction-page-content .transaction-page-show-filter-menu .transaction-page-show-filter-menu-icon img{
        width: 60%;
        height: 60%;
    }

    .transaction-page .transaction-page-content .transaction-page-filter-menu .transaction-page-filter-menu-element
    {
        font-size: 12px;
    }

    .transaction-page .transaction-page-content .transaction-page-filter-menu .transaction-page-filter-menu-element label
    {
        font-size: 11px;
    }

    .transaction-page .transaction-page-content .transaction-page-filter-menu .transaction-page-filter-menu-button-container .transaction-page-filter-menu-button
    {
        font-size: 10px;
        width: 120px;
        height: 35px;
    }

}

@media screen and (max-width: 550px)
{    
    .transaction-page .transaction-page-content .header .title
    {
        font-size: 45px;
    }

    .transaction-page .transaction-page-content .header .add-transactions-button-container .add-transactions-button,
    .transaction-page .transaction-page-content .header .delete-transactions-button-container .delete-transactions-button,
    .transaction-page .transaction-page-content .header .delete-transactions-button-container .active-delete-transactions-button
    {
        font-size: 8px;
        width: 80px;
        height: 30px;

    }
    .transaction-page .transaction-page-content .transaction-page-filter-menu .transaction-page-filter-menu-element
    {
        font-size: 10px;
    }

    .transaction-page .transaction-page-content .transaction-page-filter-menu .transaction-page-filter-menu-element label
    {
        font-size: 8px;
    }

    .transaction-page .transaction-page-content .transaction-page-filter-menu .transaction-page-filter-menu-element input
    {
        font-size: 7px;
        width: 45%;

    }
    .transaction-page .transaction-page-content .transaction-page-filter-menu .transaction-page-filter-menu-element select
    {
        font-size: 7px;
    }
    .transaction-page .transaction-page-content .transaction-page-filter-menu .transaction-page-filter-menu-button-container .transaction-page-filter-menu-button
    {
        font-size: 8px;
        width: 80px;
        height: 30px;
    }
    /* .transaction-page .transaction-page-content .transaction-page-filter-menu
    {
        grid-template-columns: 80% 20%;
    } */
}


@media screen and (max-width: 450px)
{
    .transaction-page .transaction-page-content .transaction-page-filter-menu .transaction-page-filter-menu-element
    {
        font-size: 8px;
    }

    .transaction-page .transaction-page-content .transaction-page-filter-menu .transaction-page-filter-menu-element label
    {
        font-size: 6px;
    }

    .transaction-page .transaction-page-content .transaction-page-filter-menu .transaction-page-filter-menu-element input
    {
        font-size: 6px;
        width: 50%;

    }
    .transaction-page .transaction-page-content .transaction-page-filter-menu .transaction-page-filter-menu-element select
    {
        font-size: 6px;
    }
    .transaction-page .transaction-page-content .transaction-page-filter-menu .transaction-page-filter-menu-button-container .transaction-page-filter-menu-button
    {
        font-size: 6px;
        width: 60px;
        height: 20px;
    }
}