.home-page-content
{
    width: 80%;
    height: 100%;
    display: grid;
    grid-template-rows: 30% 70%;
    grid-template-columns: 20% 25% 10% 25% 20%;
}

.home-page-content .information-panel
{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 4;
    grid-column-end: 6;
    padding-top: 5%;
    text-align: end;
    margin-left: auto;
    margin-right: 0;
    padding-right: 5%;
}

.home-page-content .reminders-container
{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    padding-top: 15%;

}

.home-page-content .scrollable-content
{
    padding-top: 5%;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 5;
}

.home-page-content .left-arrow
{
    grid-row-start: 2;
    justify-self: right;
    align-self: center;
    /* margin-left: 0;
    margin-right: auto; */

}

.home-page-content .right-arrow
{
    grid-row-start: 2;
    justify-self: left;
    align-self: center;
    /* margin-left: auto;
    margin-right: 0; */

}

.home-page-content .information-panel .balance
{
    margin-top: 5%;
    color: white;

}

.home-page-content .information-panel .balance .your-balance
{
    font-family: 'Gotham Medium';
    font-size: 28px;
}

.home-page-content .information-panel .balance .amount
{
    font-family: 'Gotham Bold';
    font-size: 80px;
    text-shadow: 5px 5px 3px #180A45;
}

.home-page-content .information-panel .header
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.home-page-content .information-panel .header .date
{
    color: white;
    font-family: 'Gotham Bold';
    font-size: 28px;
}
.home-page-content .information-panel .header .buttons
{
    display:flex;
    gap: 10px;
}

.home-page-content .information-panel .header .buttons .transactionButton
{
    font-size: 16px;
    background-color: #20F7C5;
    color: black;
    width: 180px;
    height: 50px;
    border:none;
    border-radius: 33px;
    font-family: 'Gotham Bold';
    box-shadow: 5px 5px 3px #180A45;
}

.home-page-content .information-panel .header .buttons .partyButton
{
    font-size: 16px;
    background-color: #20F7C5;
    color: black;
    width: 130px;
    height: 50px;
    border:none;
    border-radius: 33px;
    font-family: 'Gotham Bold';
    box-shadow: 5px 5px 3px #180A45;
}