.signup-followup
{
    width: 60%;
    height: 100%;
    border-radius: 50px;
    background-color: white;
    padding: 30px;
    position: relative;
    text-align: center;
    display: grid;
    grid-template-rows: [top] 20% [middle] 80% [bottom];
    border: 1px solid rgb(109, 109, 109);
    box-shadow: 2px 2px 5px #10032B;
}

.signup-followup .title
{
    margin-top: 15px;
    font-family: 'Gotham Bold';
    font-size: 30px;
    color: #3C3C3C;
}

.signup-followup .form-elements
{
    display: flex;
    flex-direction: column;
    height: 100%;
}


.signup-followup .information-fields
{
    padding-top: 15px;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: [start] 50% [middle] auto [end];
    grid-template-rows: [line1] 33% [line2] 33% [line3] 34% [line4];
    row-gap: 20px;
    column-gap: 20px;
}


.signup-followup .information-fields label
{
    font-family: 'Gotham Medium';
    font-size: 20px;
    align-self: center;
    justify-self: left;
    text-align: left;
}

.signup-followup .information-fields .input-container
{
    align-self: center;
    display: flex;
    align-items: center;
}

.signup-followup .information-fields input, select
{
    justify-self: right;
    width: 100%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.signup-followup .information-fields .field-style
{
    font-family: 'Gotham Medium';
    font-size: 19px;
    display: block;
    overflow: hidden;
    height: 50px;
    width: 100%;
    float:right;
}

.signup-followup .information-fields .avatar-input-container
{
    display: flex;
    align-items: center;
    font-family: 'Gotham Light';
    height: 100%;
}

.signup-followup .information-fields .avatar-input-button
{
    align-self: center;
    background-color: #20F7C5;
    border: 1px solid #010446;
    width: 40%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signup-followup .information-fields .avatar-input-button label
{
    cursor: pointer;
    height: 100%;
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.signup-followup .information-fields span
{
    margin: 10px;
    max-width: 50%;
    overflow: hidden;
}


.signup-followup .button-container 
{
    display: flex;
    justify-content: center;
    align-items: end;
    align-self: center;
    flex-grow: 1;
}

.signup-followup .button-container input
{
    background-color: #20F7C5;
    color: black;
    width: 100px;
    height: 50px;
    border: 1px solid #010446;
    border-radius: 40px;
    font-family: 'Gotham Medium';
    font-size: 14px;
    box-shadow: 2px 5px 5px #010446;
}

@media screen and (max-width:1300px)
{
    .signup-followup
    {
        height: 95%;
        width: 65%;
    }

    .signup-followup .title
    {
        font-size: 26px;
    }

    .signup-followup .information-fields
    {
        padding-top: 10px;
    }

    .signup-followup .information-fields label
    {
        font-size: 18px;
    }

    .signup-followup .information-fields .field-style
    {
        font-size: 16px;
        height: 45px;

    }

    .signup-followup .button-container input
    {
        font-size: 12px;
        width: 100px;
        height: 45px;
    }

}


@media screen and (max-width:1050px)
{
    .signup-followup
    {
        height: 90%;
        width: 75%;
        grid-template-rows: [top] 25% [middle] 75% [bottom];

    }

    .signup-followup .title
    {
        font-size: 24px;
    }

    .signup-followup .information-fields
    {
        padding-top: 5px;
    }

    .signup-followup .information-fields label
    {
        font-size: 14px;
    }

    .signup-followup .information-fields .field-style
    {
        font-size: 14px;
        height: 35px;

    }

    .signup-followup .button-container input
    {
        font-size: 12px;
        width: 90px;
        height: 45px;
    }


}



@media screen and (max-width:950px)
{
    .signup-followup
    {
        height: 85%;
        width: 80%;
        grid-template-rows: [top] 30% [middle] 70% [bottom];

    }

    .signup-followup .title
    {
        font-size: 22px;
    }

    .signup-followup .information-fields
    {
        padding-top: 0px;
    }

    .signup-followup .information-fields label
    {
        font-size: 12px;
    }

    .signup-followup .information-fields .field-style
    {
        font-size: 12px;
        height: 30px;

    }

    .signup-followup .button-container input
    {
        font-size: 12px;
        width: 80px;
        height: 40px;
    }

}


@media screen and (max-width:850px)
{
    .signup-followup
    {
        height: 80%;
        width: 85%;
        grid-template-rows: [top] 20% [middle] 80% [bottom];

    }

    .signup-followup .title
    {
        font-size: 20px;
    }


    .signup-followup .information-fields
    {
        grid-template-columns: [start] 100% [end];
        grid-template-rows: [line1] 10% [line2] 15% [line3] 10% [line4] 15% [line5] 10% [line6] 15% [line7];
    }
}


@media screen and (max-width:600px)
{
    .signup-followup
    {
        height: 70%;
        width: 100%;
        grid-template-rows: [top] 15% [middle] 85% [bottom];

    }

    .signup-followup .title
    {
        font-size: 14px;
    }

    
    .signup-followup .information-fields label
    {
        font-size: 10px;
    }

    .signup-followup .information-fields .field-style
    {
        font-size: 10px;
        height: 25px;

    }

    .signup-followup .button-container input
    {
        font-size: 9px;
        width: 65px;
        height: 35px;
    }
    .signup-followup .information-fields
    {
        row-gap: 15px;
        padding-top: 20px;

    }

}


@media screen and (max-width:450px)
{
    .signup-followup
    {
        height: 50%;
        width: 100%;
        grid-template-rows: [top] 15% [middle] 85% [bottom];
        border-radius: 30px;

    }

    .signup-followup .title
    {
        font-size: 12px;
        margin-top: 5px;

    }

    
    .signup-followup .information-fields label
    {
        font-size: 8px;
    }

    .signup-followup .information-fields .field-style
    {
        font-size: 8px;
        height: 20px;

    }

    .signup-followup .button-container input
    {
        font-size: 6px;
        height: 25px;
        width: 60px;

    }
    .signup-followup .information-fields
    {
        padding-top: 5px;
        row-gap: 10px;
    }

}