.transactions-overview
{
    height: 100%;
    width: 100%;
    background-color: #BBB9DD;
    border-radius: 20px;
    height: 85%;
    margin-top: 10px;
    display: flex;
    flex-flow: column;
}

.transactions-overview  .panel-title
{
    padding: 10px;
    font-family: 'Gotham Medium';
    font-size: 22px;
}
.transactions-overview  .transaction-list-container
{
    height: 70%;
    min-height: 70%;
}


.transactions-overview .add-transaction-button-container
{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.transactions-overview  .add-transaction-button-container .add-transaction-button
{
    color: black;
    background-color: #20F7C5;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: none;
    box-shadow: 3px 3px 5px #54498B;
    font-family: 'Gotham Medium';
    font-size: 18px;
}

.transactions-overview .navigation-arrow
{
    width: 25px;
    height: 25px;
    cursor: pointer;
    opacity: 0.2;
}

.transactions-overview .arrow-button:hover
{
    padding: 0;
    transition: none
}