.transaction-list
{
    background-color: white;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.transaction-list-shadow
{
    box-shadow: inset 0 0 15px #404040;
}

.transaction-list::-webkit-scrollbar-thumb
{
    background-color: #BBB9DD;
}